# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_NAME=XniceCraft Page
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Drive
DRIVE_DISK=fs

# Vite
VITE_APP_NAME="${APP_NAME}"
VITE_APP_URL="${APP_URL}"
DRIVE_DISK=fs